html,
body{
    height: 100%;
    width: 100%;
    min-width: 1130px;
    margin: 0;
    padding: 0;
}

.mr-content{
    height: 100%;
    background: white;
}

.content-left{
    float: left;
    height: 100%;
    width: 10%;
    min-width: 100px;
    background-color: rgb(1, 145, 81)
}

.content-right{
    height: 100%;
    width: 90%;
    float: left;
    min-width: 1000px;
    background: rgb(245, 243, 243);
}

.left-touxiangdiv{
    height: 120px;
    line-height: 120px;
    text-align:center;

    /* vertical-align: center; */
}
.left-touxiang{
    height: 80px;
    margin-top: 20px;   
    background-color: aliceblue;
    border-radius: 200px;
}

.left-shenfen{
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
}
.left-zhuxiao{
    height: 30px;
    line-height: 30px;
    width: 60px;
    margin: 5px auto;
    text-align: center;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(5, 177, 101);
    border-radius: 20px;
    border-bottom: 1px solid rgb(5, 177, 101);
}

.content-left.liedaohang{
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}
ul{
    position: relative;
    padding: 0;
 
    list-style: none;
}
.liedaohang li{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid rgb(5, 177, 101);
    line-height: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    cursor:pointer;
}
/* 上一步 */
.liedaohang :hover{
    background-color:  rgb(5, 177, 101);
    height: 55px;
    width: 110%;
    box-shadow: 0 0 5px rgb(1, 145, 81);   
}

.right-up{
    float: left;
    height: 78px;
    line-height: 78px;
    width: 100%;
    font-size: 23px;
    background-color: white;
    border-bottom: 1px solid rgb(206,206,206);
    position: relative;
}
.right-main{
    height: 616px;
    width: 100%;
    float: left;
}
.main-search{
    margin-top: 10px;
    height: 60px;
    line-height: 60px;
    width: 95%;
    margin-left: 50px;
    border-bottom: 1px solid rgb(206,206,206);
    display: block;
    unicode-bidi: isolate;
    float: left;
}

.search-txt{
    height: 60px;
    width: 66px;
    line-height: 66px;
    margin-left: 5px;
    /* font-family: 'Courier New', Courier, monospace; */
    float: left;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    border-radius: 5px;
    float: left;
    width: 260px;
    padding: 6px;
    /* outline: none; */
    border: none;
    box-shadow: 0 0 5px #ccc;
    margin-top: 16px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

p{
    color: black;
    float: left;
}
.button{
    width: 90px;
    height: 33px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #ccc;
    margin-left: 10px;
    float: left;
    margin-top: 16px;
}

.main-all{
    height: 84%;
    width: 36%;
    float: left;
    margin: 20px 66px;
    background-color: #FFF;
    overflow-y: auto;
}
.all-title{
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


.movie-item{
    width:100%;
    height: 88%;
    border: 0;
}

.tr-daohang{
    margin: 0;
    padding: 0;
    height: 46px;
    width: 100%;
    background-color: rgb(5, 174, 99);
}

.tr-daohang td{
    width: 24%;
    height: 46px;
    line-height: 46px;
    float: left;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
}
table{
    width: 100%;
    overflow-y: auto;
}
table tr{
    margin: 0px;
    padding: 0px;
    height: 30%;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;

}
table td{
    width: 25%;
    height: 130px;
    text-align: center;

}

.main-all >.page{
    position: relative;
    height: 20px;
    width: 100%;
    text-align: center;
    float: left;
}

a{
    color: black;
    text-decoration: none;
}

/* 正在热映影片详情 */
.movie-xiangqing{
    margin-top: 20px;
    margin-left: 288px;
    position: absolute;
    height: 500px;
    width: 800px;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 0 10px rgb(136, 182, 161);
    border-radius: 16px;
    display: none;
}
.outbox1-title{
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    color: #FFF;
    background-color: rgb(5, 174, 99);
}
.outbox1-con{
    height: 90%;
    width: 100%;
}
.outbox1-pic{
    height: 90%;
    width: 38%;
    margin-top: 10px;
    margin-left: 8px;
    float: left;

}
.outbox1-txt{
    height: 10%;
    width: 55%;
    margin-top: 10px;
    margin-left: 8px;
    float: left;
    border-bottom: 1px solid #ccc;
}
.outbox1-txt1{
    height: 10%;
    width: 55%;
    margin-top: 10px;
    margin-left: 8px;
    float: left;
   
}
.guanbi{
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 56px;
    margin-top: -1px;
    margin-right: 6px;
    float: right;
}
/* 正在热映剧目详情结束 */

/* 剧目安排 */
.main-detail{
    height: 84%;
    width: 36%;
    float: left;
    margin: 20px 60px;
    background-color: #FFF;
    display: none;
    overflow-y: auto;
}

.jumu-name{
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
hr{
    width: 100%;
    margin:0 auto;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, white,  rgb(5, 174, 99), white);
}

.riqi-daohang{
    height: 40px;
    line-height: 40px;
    width: 100%;

}

.riqi{
    list-style:none;
    width:25%;
    float:left;
    margin-left:6px;
    color:  rgb(5, 174, 99);
    text-align:center;
    line-height:40px;
}


/* 部分页面跳转----日期跳转*/
#riqi-daohang ul{
    margin: 0;
    padding: 0;
    list-style:none;
    display:block;
    height: 40px;
    line-height: 40px;
}
#riqi-daohang ul li{
    list-style:none;
    width:20%;
    float:left;
    margin-left:-6px;
    /* color:  rgb(5, 174, 99); */
    text-align:center;
    line-height:40px;
}
/* #riqi-daohang ul li .on{
    display:block;
}
  
.hide{
    display:none;
}  */
     
/*部分页面跳转----日期跳转结束*/


/* 剧目详细到行的详情 */

.jumu-all{
    height: 80%;
    width: 100%;
    float: left;
}
.jumu-item{
    height: 50px;
    width: 98%;
    border-bottom: 1px solid #ccc;
    margin-left: 6px;
    overflow-y: auto;
}

.time{
    height: 50px;
    width: 80px;
    float: left;
}
.time-start{
    height: 29px;
    line-height: 29px;
    font-size: 16px;
    text-align: center;
}
.time-end{
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #ccc;
}

.language{
    float: left;
    height: 50px;
    line-height: 50px;
    width: 25%;
    min-width: 66px;
    text-align: center;
}
.price{
    float: left;
    height: 50px;
    line-height: 50px;
    width: 25%;
    text-align: center;
    color: tomato;
}
.goumai-txt{
    color: white;
    text-align: center;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    background-color: rgb(244, 75, 59); 
    margin-top: 10px;
    border-radius: 20px;
    width: 80px;
    float: left;
    box-shadow: 2px solid red;
}

/* 剧目详细到行的详情结束 */


/* 座位详情开始*/
.seat-xiangqing{

    height: 600px;
    width: 800px;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 0 10px rgb(136, 182, 161);
    border-radius: 16px;
    position: absolute;
    display: none;
    flex-direction: column;
}
.outbox2-title{
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    color: #FFF;
    background-color: rgb(5, 174, 99);
}

.outbox2-con{
    margin: auto;

}

.seat-item{
    height: 20px;
    width: 20px;
    margin: 2px;
    float: left;
}
.seat-item :hover{
    content: url(../image/座位选.png);
    cursor:pointer;
}
.xia{
    height: 66px;
    float: left;
}

.zuo{
    width: 50%;
    float: left;
    height: 66px;
    text-align: center;
    
}
.zongjia{
    height: 42px;
    line-height: 42px;
    width: 100px;
    box-shadow: 0 0 10px rgb(136, 182, 161);
    border-radius:  20px;
    background-color:rgb(5, 174, 99);
    color: #FFF;
    font-size: 18px;
    text-align: center;
    margin: auto;
}

.btn {
    text-decoration: none;
    float: left;
}
.btn-success {
    position: relative;
    margin-top: 0px;
    margin-bottom: 3px;
    margin: 0 auto;
    color: white;
    border-color: rgb(244, 75, 59); ;
    background: #e91919;
}
.btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
 
    /* margin: auto; */
    text-align: center;
    width: 20%;
    
}

.btn-success:hover {
    font-size: 17px;
    cursor:pointer;
}


.ticket{
    height: 88px;
    line-height: 88px;
}

.ticket-item{
    height: 70px;
    line-height: 70px;
    width: 120px;
    margin: 2px;
    text-align: center;    
    float: left;
    background-image: url(../image/电影票.png);
    background-repeat: no-repeat; 
    background-size:contain;
}
.infor{
    border-color: rgb(5, 174, 99);
    color:rgb(5, 174, 99);
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    width: 89%;
    text-align: center;
}


/* 售票界面样式结束 退票界面样式开始 */

.step{
    height: 70%;
    width: 100%;
}
.step-txt{
    margin-top:60px;
    margin-bottom: 0px;
    font-size: 30px;
    text-align: center;
    color: rgb(5, 174, 99);
}
.step-jindutiao{
    height: 30%;
    justify-content:center;  /*水平居中*/
    align-items: center;   /*竖直居中*/

    text-align: center;
}

.step-img{
    object-fit: contain;
    /* height: 60px;; */
    width: 66%;
    text-align: center;
}
.step-img2{
    object-fit: contain;
    /* height: 60px;; */
    width: 77%;
    text-align: center;
}

.step-con{
    height: 66%;
    width: 60%;
    margin-left: 20%;
}
.piaodexinxi{
    margin-top: 40px;
    margin-left: 30%;
    height: 90%;
    width: 80%;
    align:left;
    
}

.ticket-infor{
    width: 100%;
    height: 10%;
    margin-top: 3px;
}
.txt1{
    font-size: 18px;
    float: left;
    /* width: 90%; */
}


.txt2{
    float: left;
    font-size: 100%;
    border-radius: 5px;
    float: left;
    width: 460px;
    height: 39px;;
    padding: 6px;
    /* outline: none; */
    border: none;
    box-shadow: 0 0 3px #ccc;
    margin-top: 39px;

}




.btn1 {
    text-decoration: none;
    float: left;
  
}
.btn1-success {
    color: white;
    border-color: rgb(136, 182, 161);
    background: rgb(5, 174, 99);
    margin-left: 40%;
}
.btn1-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    width: 16%;  
    height: 20px;;  
}

.btn1-success:hover {
    font-size: 17px;
    cursor:pointer;
}
.def,
.vic{
    margin-top:60px;
    margin-bottom: 0px;
    font-size: 28px;
    text-align: center;
    color: #000;
}

.return {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    float: right;
}
.return-img{
    height: 100%;
    width:100%;
    cursor:pointer;

}

/* 退票界面样式结束 销售界面界面样式开始 */
.xiaoshou{
    height: 90%;
    width: 88%;
    margin: auto;
    margin-top: 20px;
    background-color: #FFF;
    border-radius: 10px;

}

.xiaoshou-title{
    height: 46px;
    line-height: 46px;
    width: 100%;
    background-color: rgb(5, 174, 99);
    float: left;
    border-bottom: 1px solid #000;
    
}
.title-item{
    width: 25%;
    color: #FFF;
    font-size: 18px;
    text-align: center;
    float: left;
}
.xiaoshou-con{
    width: 100%;
    height: 46px;
    line-height: 46px;
    background-color:#fff;
    float: left;
    /* border-bottom: 1px solid rgb(5, 174, 99); */
    
}
.title-item0{
    width: 25%;
    color: #000;
    font-size: 18px;
    text-align: center;
    float: left;
}

.timetiaojian{
    margin: auto;
    justify-content:space-around;
    height: 50px;
    line-height: 50px;

}
p{
    margin:0;
    padding: 0;
    margin-top: 9px;
    margin-left: 100px;
}